@import '_reset.scss';

$color-white: #fff;
$color-azure: #eef8f6;
$color-grayish-cyan: #bed3cf;
$color-dark-blue: #27354f;

body {
  background-color: $color-white;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: $color-grayish-cyan;
  text-decoration: none;
}

.page-header,
.page-content {
  width: 70%;
  margin: auto;
}

.page-footer {
  width: 80vw;
  margin: auto;
}

.page-title {
  font-size: 1.4rem;
  color: $color-dark-blue;
  position: absolute;
  top: -25px;
  left: 50px;
  padding: 0.4rem 1rem;
  letter-spacing: 4px;
  font-family: 'Gabriela', serif;
  border: 2px solid $color-dark-blue;
}

.container {
  position: relative;
  background-color: $color-azure;
  width: 90vw;
  height: 85vh;
  margin: 7vh auto 0;
}

.gallery {
  // background-color: lightcoral;
  // padding-top: 20px;
  // padding-left: 20px;
  max-height: 60vh;
  overflow-y: scroll;
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  // background-color: yellow;

  &__item {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px -7px $color-dark-blue;
    margin: auto;

    &:hover {
      border: 5px solid rgb(237, 241, 167);
      cursor: pointer;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 2em;
    color: $color-white;
    text-align: center;
  }
}

.bijou,
.negroni,
.mojito,
.texas,
.egg,
.zinger {
  background-position: center;
  background-size: cover;
}

.bijou {
  background-image: url(../assets/bijou.jpg);
}

.negroni {
  background-image: url(../assets/negroni.jpg);
}

.mojito {
  background-image: url(../assets/mojito.jpg);
}

.texas {
  background-image: url(../assets/rattlesnake.jpg);
}

.egg {
  background-image: url(../assets/eggnogg.jpg);
}

.zinger {
  background-image: url(../assets/zinger.jpg);
}

.page-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 0.8rem;
}

.page-navigation {
  padding-top: 100px;
  // background-color: grey;

  &__items {
    // margin: 130px 200px 80px 200px;

    display: flex;
    justify-content: space-between;
  }

  &__link {
    transition: 0.5s;
    &:after {
      content: '';
      border: 1px solid $color-dark-blue;
      width: 50%;
      display: block;
      opacity: 0;
      transition: 0.5s;
    }
    &:hover {
      color: $color-dark-blue;
      &:after {
        opacity: 1;
      }
    }
  }
}

.address {
  align-self: center;
  color: $color-grayish-cyan;
  font-style: normal;

  &__email {
    color: $color-dark-blue;
  }
}

.social {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  &__title {
    font-weight: 100;
    color: $color-grayish-cyan;

    letter-spacing: 1px;
    align-self: center;
    // background-color: grey;
  }
  &-links {
    display: flex;
    // background-color: gainsboro;
    &__item {
      padding-left: 10px;
      padding-top: 8px;
      align-self: center;
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color-azure;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-grayish-cyan;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-grayish-cyan;
}

@media screen and (max-width: 1200px) {
  body {
    overflow: hidden;
  }
  .page-header {
    padding-bottom: 3em;
  }

  .page-navigation {
    display: none;
  }

  .hamburger-menu {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .gallery {
    padding: 0;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));

    &__item {
      width: 240px;
      height: 240px;
    }

    &__link {
      font-size: 1.5em;
    }
  }

  .page-footer {
    font-size: 0.7rem;
  }

  .social__title {
    display: none;
  }
}

@media screen and (max-width: 390px) {
  .gallery {
    grid-template-columns: 1fr;
    &__item {
      width: 180px;
      height: 180px;
    }
  }
}

@media screen and (max-height: 900px) {
  .gallery {
    max-height: 400px;
  }
}

@media screen and (max-height: 560px) {
  .page-navigation {
    display: none;
  }
  .page-header {
    padding: 0;
  }
  .gallery {
    max-height: 200px;
  }
  .container {
    height: 80vh;
  }

  .page-title {
    left: 20px;
    top: -16px;
    font-size: 0.7em;
  }

  .drinks {
    padding-top: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .hamburger-menu {
    display: none;
  }
}
